<script src="MapGL.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.3.2/gl-matrix-min.js"></script>
<span style="border-radius: 5px; background: #ccc; width: 32px; height: 32px; display: inline-block; text-align:center;" id="zoomout">-</span>
<span style="border-radius: 5px; background: #ccc; width: 32px; height: 32px; display: inline-block; text-align:center;" id="zoomin">+</span>
<div id="map" style="width: 1024px; height: 768px; border: #ccc thin solid;">
</div>
<script type="text/javascript">
(function() {
    var map = new MapGL.Map(document.getElementById('map'));
    map.setLocation([43.6098829, 3.8748718]);
    map.setZoom(10);
    map.addLayer(new MapGL.TileLayer({
        url: ['//a.tile.osm.org/{z}/{x}/{y}.png', '//b.tile.osm.org/{z}/{x}/{y}.png', '//c.tile.osm.org/{z}/{x}/{y}.png'],
        maxZ: 23,
    }));
    document.querySelector('#zoomin').addEventListener('click', function() {
        map.zoomIn();
    });
    document.querySelector('#zoomout').addEventListener('click', function() {
        map.zoomOut();
    });

    map.addLayer(new MapGL.PointsLayer({
    }));
})();
</script>
